@font-face {
    font-family: Mukta;
    font-style: normal;
    font-weight: 300;
    src: local('Mukta Light'), local('Mukta-Light'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbFqj2md8WU.ttf) format('truetype')
}

@font-face {
    font-family: Mukta;
    font-style: normal;
    font-weight: 400;
    src: local('Mukta Regular'), local('Mukta-Regular'), url(https://fonts.gstatic.com/s/mukta/v5/iJWKBXyXfDDVXbnBrXk.ttf) format('truetype')
}

@font-face {
    font-family: Mukta;
    font-style: normal;
    font-weight: 500;
    src: local('Mukta Medium'), local('Mukta-Medium'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbEyjmmd8WU.ttf) format('truetype')
}

@font-face {
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    src: local('Mukta SemiBold'), local('Mukta-SemiBold'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbEeiWmd8WU.ttf) format('truetype')
}

@font-face {
    font-family: Mukta;
    font-style: normal;
    font-weight: 700;
    src: local('Mukta Bold'), local('Mukta-Bold'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbF6iGmd8WU.ttf) format('truetype')
}

@media (min-width:768px) and (max-width:1024px) {
    body main {
        position: relative
    }

    body main .header-page h1 {
        font-size: 32px !important;
        line-height: 32px !important
    }

    body main .header-page h4 {
        font-size: 26px !important
    }

    body main #leaderboard-wrapper {
        background: #fff;
        position: absolute;
        /* top: 50%; */
        left: 50%;
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
        width: 70%
    }

    body main #leaderboard-wrapper-nav {
        position: absolute;
        width: 100%;
        top: -42px
    }

    body main #leaderboard-wrapper-nav ul {
        margin: 0;
        background: #fff !important
    }

    body main #leaderboard-wrapper-nav ul li {
        background: 0 0;
        padding: 15px 10px !important;
        color: #000 !important
    }

    body main #leaderboard-wrapper-nav ul .active {
        background: 0 0
    }

    body main #leaderboard-wrapper-nav ul .active::after {
        content: '';
        width: 25px;
        position: absolute;
        bottom: 5px;
        height: 3px;
        background: #f66252 !important;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    body main #leaderboard-wrapper-main {
        max-height: 575px;
        margin-top: 15px;
        height: 575px;
        overflow-y: scroll
    }

    body main #leaderboard-wrapper-main table {
        margin: 3em 0;
        padding: 0 2.5em;
        font-size: 14px
    }

    body main #leaderboard-wrapper-main table thead tr th {
        background: #e0e0e0
    }

    body main #leaderboard-wrapper-main table tbody {
        color: #000 !important
    }

    body main #leaderboard-wrapper-main table tbody tr {
        font-size: 16px !important
    }

    body main #footer {
        position: absolute;
        left: 0;
        width: calc(100% - 4em)
    }
}

body main #menu-top ul li div span::after,
body main #menu-top ul li div span::before {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    content: '';
    left: 50%
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    body main #leaderboard-wrapper-main {
        max-height: 400px;
        height: 400px
    }
}

body {
    background: #f66252;
    font-family: Mukta, sans-serif;
    margin: 0;
    padding: 0;
    position: relative
}

body main {
    position: relative;
    height: calc(100vh - 4em);
    min-height: calc(100vh - 4em)
}

body main .header-page {
    text-align: center;
    margin: 7em 5em 3.5em
}

body main .header-page h1 {
    margin-bottom: 0;
    color: #fff;
    margin-top: 0;
    line-height: 26px;
    font-size: 26px
}

body main .header-page h4 {
    margin-bottom: 0;
    margin-top: 0;
    color: #ac4439
}

body main #menu-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    z-index: 99999;
    background: #f66252
}

body main #menu-top ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    color: #fff
}

body main #menu-top ul .active:first-child div span::before {
    background: #1B9CFC !important
}

body main #menu-top ul .active:nth-child(2) div span::before {
    background: #E5E4E2 !important
}

body main #menu-top ul .active:nth-child(3) div span::before {
    background: #f9d777 !important
}

body main #menu-top ul .active:nth-child(4) div span::before {
    background: #dce2e5 !important
}

body main #menu-top ul .active:nth-child(5) div span::before {
    background: #b59797 !important
}

body main #menu-top ul li {
    display: inline-block;
    width: 19%;
    height: 100%;
    position: relative;
    font-size: 12px;
    font-weight: 700
}

body main #menu-top ul li div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%)
}

body main #menu-top ul li div span {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px
}

body main #menu-top ul li div span::before {
    background: #ac4439;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 90% 75%, 50% 100%, 10% 75%, 0 0);
    clip-path: polygon(50% 0, 100% 0, 90% 75%, 50% 100%, 10% 75%, 0 0);
    z-index: 50
}

body main #menu-top ul li div span::after {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 55;
    background: rgba(255, 255, 255, .8);
    -webkit-clip-path: polygon(50% 0, 90% 0, 50% 100%, 20% 80%);
    clip-path: polygon(50% 0, 90% 0, 50% 100%, 20% 80%)
}

body main #leaderboard-wrapper .fixed {
    position: fixed;
    width: 100%;
    top: 63px;
    z-index: 99999
}

body main #leaderboard-wrapper-nav ul {
    list-style-type: none;
    padding: .5em 0;
    background: #f66252;
    margin: 0
}

body main #leaderboard-wrapper-nav ul li {
    display: inline-block;
    position: relative;
    width: calc(49% - 20px);
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #ac4439
}

body main #leaderboard-wrapper-nav ul li:hover {
    cursor: pointer
}

body main #leaderboard-wrapper-nav ul .active {
    color: #fff
}

body main #leaderboard-wrapper-nav ul .active::after {
    content: '';
    width: 25px;
    position: absolute;
    bottom: 5px;
    height: 3px;
    background: #fff;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

body main #leaderboard-wrapper-main table {
    width: 100%;
    display: none;
    border-spacing: 0;
    border-collapse: separate
}

body main #leaderboard-wrapper-main table tbody {
    color: #000
}

body main #leaderboard-wrapper-main table tbody tr {
    background: #fff
}

body main #leaderboard-wrapper-main table tbody tr:first-child td:first-child::before,
body main #leaderboard-wrapper-main table tbody tr:nth-child(2) td:first-child::before,
body main #leaderboard-wrapper-main table tbody tr:nth-child(3) td:first-child::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 90% 75%, 50% 100%, 10% 75%, 0 0);
    clip-path: polygon(50% 0, 100% 0, 90% 75%, 50% 100%, 10% 75%, 0 0);
    z-index: 50
}

body main #leaderboard-wrapper-main table tbody tr:first-child td:first-child::after,
body main #leaderboard-wrapper-main table tbody tr:nth-child(2) td:first-child::after,
body main #leaderboard-wrapper-main table tbody tr:nth-child(3) td:first-child::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    z-index: 55;
    background: rgba(255, 255, 255, .8);
    content: '';
    -webkit-clip-path: polygon(50% 0, 90% 0, 50% 100%, 20% 80%);
    clip-path: polygon(50% 0, 90% 0, 50% 100%, 20% 80%)
}

body main #leaderboard-wrapper-main table tbody tr:first-child td:first-child::before {
    background: #f9d777 !important
}

body main #leaderboard-wrapper-main table tbody tr:nth-child(2) td:first-child::before {
    background: #dce2e5 !important
}

body main #leaderboard-wrapper-main table tbody tr:nth-child(3) td:first-child::before {
    background: #F7A069 !important
}

body main #leaderboard-wrapper-main table tbody tr td {
    padding: 15px 10px;
    font-size: 14px;
    border-bottom: solid 1.5px #f9f9f9
}

body main #leaderboard-wrapper-main table tbody tr td:first-child {
    text-align: center;
    position: relative;
    width: 50px
}

body main #leaderboard-wrapper-main table tbody tr td:first-child span {
    z-index: 100 !important;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #333;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%)
}

body main #leaderboard-wrapper-main table tbody tr td:nth-child(2) {
    font-size: 12px
}

body main #leaderboard-wrapper-main table tbody tr td:nth-child(2) b {
    font-size: 16px;
    display: block;
    margin-bottom: -5px
}

body main #leaderboard-wrapper-main table tbody tr td:nth-child(3) {
    text-align: center
}

body main #leaderboard-wrapper-main .show {
    display: table;
    width: 100%
}

body main #footer {
    margin: 2em;
    bottom: 0;
    color: #fff
}

body main #footer p {
    text-align: center;
    font-size: 14px
}